/* :root { */
  /* --primary: #F7CCCC; */
  /* --second: #F12B6B; */
/* } */

@font-face {
  font-family: productsans;
  src: url(procductsans.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: productsans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.logo {
  max-width: 70%;
}

.error {
  background: #A63446;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
.create {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: var(--second);
  border-bottom: 2px solid var(--second);
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: var(--primary);
}

.input:focus, .create:focus {
  outline: none;
}

.input::placeholder {
  color: var(--second);
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: var(--second);
  border: none;
  background-color: var(--primary);
  padding: 0.75em 1.25rem;
}

.create:hover { 
  box-shadow: 3px 3px 0 0 var(--second);
  transition: box-shadow 0.2s ease-in-out;
}

.created {
  color: var(--second);
}

.created a {
  color: inherit;
}
