:root {
  --primary: #F7CCCC;
  --second: #F12B6B;
}

@font-face {
  font-family: productsans;
  src: url(procductsans.ttf);
}

html, body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; 
}

body {
  font-family: productsans, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}
header {
  overflow: hidden;
}

.logo {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error {
  background: #A63446;
  padding: 0.5rem 1rem;
  color: var(--second);
  margin-bottom: 1rem;
  text-align: center;
}

.create {
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: black;
  border: none;
  background-color: var(--primary);
  padding: 0.75em 1.25rem;
  outline: none;
  /* border-bottom: 2px solid black; */
}

.button-container {
  /* overflow: hidden; */
  margin-top: 20px;
}

.button-border::after {
  display: block;
  content: '';
  border-bottom: 3px solid var(--second);
  transform: translateX(-100%);
  transition: all 0.4s ease;
}

.create:focus + .button-border::after,
.create:hover + .button-border::after {
  /* display: absolute; */
  transform: translateX(0%);
  transition: all 0.4s ease;
  color: var(--second);
}

.created {
  color: var(--second);
}

.created a {
  color: inherit;
}

.form {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-bottom: 10px;
  zoom: 140%;
}

.form input {
  width: 100%;
  height: 100%;
  color: var(--second);
  background-color: var(--primary);
  padding-top: 20px;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--second);
  -webkit-box-shadow: 0 0 0px 1000px var(--primary) inset;
}

.form label {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.form label:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--second);
  transform: translateX(-101%);
  transition: transform 0.4s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.4s ease;
}

.form input:focus + .label-name .content-name, 
.form input:valid + .label-name .content-name{
  transform: translateY(-130%);
  color: var(--second);
  font-size: 14px;
}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after {
  transform: translateX(0%);
}

#app {
  width: 400px;
}


