:root {
  --bg: #F7CCCC;
  --light: #f74f84;
  --dark: #d30e71;
  --orange: #e55102;
}

@font-face {
  font-family: productsans;
  src: url(productsans.ttf);
}

::selection {
  background: var(--bg);
}

html, body {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  /* overflow: hidden; */
}

.lightoggle {
  background-color: var(--bg);
  border: none;
  color: var(--light);
  float: left;
  outline: none;
}

.logo {
  color: var(--light);
  margin: 0;
  display: inline-block;
  height: 100%;
  /* height: 120px; */
  font-size: 100%;
  text-align: left;
}
.logo > img {
  height: 100%;
  float: left;
  margin-right: 10px;
}
.chainhover {
  display: none;
}
.logo:hover { color: var(--dark); }
.logo:hover .chain { display: none; }
.logo:hover .chainhover { display: inline; }

.logo > h1 {
  margin: 0;
  display: inline-block;
  font-size: 360%;
}
.logo > h2 {
  margin: 0;
  display: inline-block;
  font-size: 260%;
}
.slogan {
  margin: 0;
  height: 20%;
  /* overflow: hidden; */
  font-size: 130%;
}

.git {
  float: right;
}
.git > img {
  width: 40px;
}

.githubface {
  display: none;
}

.git:hover .github { display: none; }
.git:hover .githubface { display: inline; }

body {
  font-family: productsans, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
}

main {
  /* width: 400px; */
  width: 60%;
}


.form {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 25px;
}

.form input {
  width: 100%;
  height: 100%;
  color: var(--dark);
  background-color: var(--bg);
  padding-top: 20px;
  border: none;
  outline: none;
  -webkit-text-fill-color: var(--dark);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg) inset;
  font-size: 120%;
}

.form label {
  position: absolute;
  text-align: center;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 2px solid var(--light);
}

.form label:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid var(--dark);
  transform: translateX(-101%);
  transition: transform 0.3s ease;
}

.content-name {
  color: var(--light);
  position: absolute;
  bottom: 5px;
  left: 0px;
  font-size: 150%;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name, 
/* .form input:valid + .label-name .content-name{ */
.form input:not(:placeholder-shown) + .label-name .content-name{
  transform: translateY(-130%);
  color: var(--dark);
  font-size: 120%;
}

.form input:focus + .label-name::after, 
/* .form input:valid + .label-name::after { */
.form input:not(:placeholder-shown) + .label-name::after {
  transform: translateX(0%);
}

.passwd-text { 
  color: var(--light); 
  text-align: center;
}

.create {
  width: 100%;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.15rem;
  color: var(--light);
  border: none;
  background-color: var(--bg);
  padding: 0.75em 1.25rem;
  outline: none;
}
.create:focus, .create:hover {
  transition: all 0.3s ease 0.1s;
  color: var(--dark);
}
.create:focus ~ .bbl::after, .create:hover ~ .bbl::after { transform: translateY(98%); }

.button-container {
  overflow: hidden;
  margin-top: 20px;
  height: 55px;
}

.bbb { 
  display: block;
  transform: translateY(-40%);
}
.bbb::after {
  display: block;
  content: '';
  border-bottom: 3px solid var(--dark);
  transform: translateX(-101%);
  transition: all 0.3s ease;
}
.create:focus ~ .bbb::after, .create:hover ~ .bbb::after { transform: translateX(0%); }

.bbt {
  transform: translateY(-1660%);
  display: block;
}
.bbt::after {
  display: block;
  content: '';
  border-top: 3px solid var(--dark);
  transform: translateX(101%);
  transition: all 0.3s ease 0.2s;
}
.create:focus ~ .bbt::after, .create:hover ~ .bbt::after { transform: translateX(0%); }

.bbr::after {
  display: block;
  content: '';
  height: 55px;
  border-right: 3px solid var(--dark);
  transition: all 0.2s ease 0.4s;
  pointer-events: none;
}
.create:focus ~ .bbr::after, .create:hover ~ .bbr::after { transform: translateY(-100%); }

.bbl { 
  display: block;
  transform: translateY(-304%); 
}
.bbl::after {
  display: block;
  content: '';
  height: 55px;
  border-left: 3px solid var(--dark);
  transition: all 0.2s ease 0.5s;
  pointer-events: none;
}
.created {
  text-align: center;
  color: var(--dark);
}
.created a {
  color: inherit;
  font-size: 110%;
}
.error {
  color: var(--orange);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 130%;
}



@media only screen and (max-width: 545px) {
  .slogan {
    display: none;
  }
  .title.domain {
    display: none;
  }
  .passwd-div {
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 435px) {
  header {
    zoom: 80%;
  }
}
